<h2>Add or Edit Operator</h2>
<hr /><br>
<form [formGroup]="priceListCollectionForm">
  <button type="button" (click)="addOperator()" class="cta-small" [disabled]="false">Add Operator</button>
  <div formArrayName="priceListCollection">
    <div class="priceList" *ngFor="
        let priceList of priceListCollectionForm.get('priceListCollection').controls;
        let operatorIndex = index
      " [formGroupName]="operatorIndex">
      <div class="operator">
        <div>Operator</div>
        <div>
          <input formControlName="operatorName" />
          <button class="cta-cancel" (click)="deleteOperator(operatorIndex)">x</button>
        </div>
      </div>
      <hr />
      <button type="button" (click)="addItem(priceList)" class="cta-small" [disabled]="false">Add Item</button>
      <div formArrayName="priceList">
        <div class="item" *ngFor="
            let item of priceList.get('priceList').controls;
            let itemIndex = index
          " [formGroupName]="itemIndex">
          <div class="prefix">
            <div>Number Prefix</div>
            <div>
              <input formControlName="prefix" (keypress)="keyPressPrefix($event)" minlength=1 maxlength=10 />
              <button class="cta-cancel" (click)="deleteItem(priceList, itemIndex)">x</button>
            </div>
          </div>
          <div class="cost">
            <div>Cost</div>
            <div>
              <input formControlName="cost" (keypress)="keyPressCost($event)" minlength=1 />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="priceListCollectionForm.value.priceListCollection.length > 0" type="button" class="cta" (click)="saveOperator()" [disabled]="priceListCollectionForm.invalid">
    Save Operator
  </button>
</form>
