.form-headers label {
  display: flex;
  padding-left: 15px;
}
h2{
  color: #853e8a;
}

.priceList {
  background-color: #f7f1f100;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dad5d5;
  width:50%;
  .cta-cancel{
  color: black;
  background-color: red;
  border-color: red;
}
  .cta-small {
    background: #578440;
    color: #fff;
  }

}
hr{
  border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: #dad5d5;
}
.form-header,
.item {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e8e7e7;
  padding: 5px 5px;
  margin: 6px 0;
  padding-top: 10px;
}

.label {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 7px;
}

.form-header {
  background-color: white;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 {
  width: 100%;
  background-color: #f1f1c1;
}
.telephoneNumberForm {
  display: block;

  input, textarea {
      display: block;
      width: 50%;
      margin-bottom: 20px;
      padding: 1em;
  }

  .error {
      margin-top: -20px;
      background: yellow;
      padding: .5em;
      display: inline-block;
      font-size: .9em;
      margin-bottom: 20px;
  }
}
.cta-small {
  background: #578440;
  border: none;
  color: white;
  border-radius: 40px;
  padding: .5em;
  cursor: pointer;
  font-family: 'Montserrat';
}

.cta {
  background: #853e8a;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  padding: .7em;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 16px;
}

.results {
  margin-top: 50px;

  strong {
      display: block;
  }
  span {
      margin-bottom: 20px;
      display: block;
  }
}

.cost{
  display: inline-flex;
  padding-bottom: 2%;
  div{
    width: 50%;
  }
  input{
    width: 57%;
    display: inline-flex;
  }
}

.operator{
  width: 100%;
  display: inline-flex;
  padding-bottom: 2%;
  div{
    min-width: 50%;
  }
  input{
    width: 50%;
    display: inline-flex;
  }
}
.prefix{
  display: inline-flex;
  padding-bottom: 2%;
  div{
    width: 50%;
  }
  input{
    width: 50%;
    display: inline-flex;
  }
}
button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}
